@import './variables';

* {
  box-sizing: border-box;
  outline: none; //边框重置
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #999;
}


@each $colorKey,
$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

// text  overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@each $sizeKey,
$size in $font-size {
  .fs-#{$sizeKey} {
    font-size: $size *$base-font-size;
  }
}

;

// flex

.d-flex {
  display: flex;
}

.felx-colum {
  flex-direction: column;
}


@each $key,
$value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}


@each $key,
$value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}



@each $typeKey,
$type in $spacing-types {

  //.m-1
  @each $sizeKey,
  $size in $spacing-sizes {

    //.m-0{margin :.25rem}
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size*$sapcing-base-size;
    }
  }

  //.mx-1 ,.my-1
  @each $sizeKey,
  $size in $spacing-sizes {

    //.m-0{margin :.25rem}
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size*$sapcing-base-size;
      #{$type}-right: $size*$sapcing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size*$sapcing-base-size;
      #{$type}-bottom: $size*$sapcing-base-size;
    }

  }

  // .mt-1
  @each $directionKey,
  $direction in $spacing-directions {

    @each $sizeKey,
    $size in $spacing-sizes {

      //.mt-0{margin :.25rem}
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size*$sapcing-base-size;
      }
    }
  }
}

// button
.btn {
  border: none;
  border-radius: .1538rem;
  font-size: map-get($map: $font-size, $key:'sm') *$base-font-size;
  padding: .2rem .6rem;
}

//nav

.nav {
  display: flex;

  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: .2rem;

    &.active {
      color: map-get($map: $colors, $key:'primary');
      border-bottom-color: map-get($map:$colors, $key:'primary');
    }
  }

  &.nav-inverse {
    .nav-item {
      color: map-get($map: $colors, $key: 'white');

      &.active {
        border-bottom-color: map-get($map: $colors, $key: 'white');
      }
    }
  }
}

// width  ,height

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

// sprite
.sprite {
  background: url(../images/index.png) no-repeat 0 0;
  display: inline-block;
  background-size: 23.4375rem;

  &.sprite-news {
    width: 1.4375rem;
    height: 1.25rem;
    background-position: 63.546% 15.517%;
  }

  &.sprite-gushi {
    width: 1.4375rem;
    height: 1.25rem;
    background-position: 90.483% 15.614%;
  }

  &.sprite-shangcheng {
    width: 1.1875rem;
    height: 1.375rem;
    background-position: 36.746% 0.924%;
  }


  &.sprite-tiyan {
    width: 1.25rem;
    height: 1.25rem;
    background-position: 10.408% 15.517%;
  }

  &.sprite-xingren {
    width: 1.25rem;
    height: 1.3125rem;
    background-position: 89.733% 1.266%;
  }


  &.sprite-chuancheng {
    width: 1.5rem;
    height: 1.25rem;
    background-position: 36.467% 15.287%;
  }

  &.sprite-yindi {
    width: 1.5rem;
    height: 1.5rem;
    background-position: 63.3% 0.927%;
  }


  &.sprite-gongzong {
    width: 1.5rem;
    height: 1.25rem;
    background-position: 0 96.207%;
  }

  &.sprite-banben {
    width: 1.9375rem;
    height: 1.5625rem;
    background-position: 9.302% 0.813%;
  }


  &.sprite-arrow {
    width: .625rem;
    height: .625rem;
    background-position: 38.577% 52.076%;
  }
}