*{
  box-sizing: border-box;
  outline: none;  //边框重置
}
html{
  font-size: 13px;
}
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  background-color: #f1f1f1;
}

a{
  color:#999;
}